--- 
title: About 
layout: base.hbs
---
<link rel="stylesheet" href="/styles/about.css" />
<script src="/scripts/about.js" type="module"></script>

<h1>About Lisa & Paul</h1>

<div class="stack">
  <figure class="stack__card polaroid polaroid--undeveloped">
    <div class="polaroid__frame">
      <img 
        class="polaroid__image"
        src="https://assets.codepen.io/592829/IMG_4239.jpg?width=900&format=auto" 
        alt="A man walking his dog along the beach. He's facing away from the camera and holding a travel mug.">
    </div>
    <figcaption class="polaroid__caption">
      <span class="polaroid__title">
        Clover's first
        <br>
        beach trip
      </span>
      <time datetime="2020-10-12" class="polaroid__date">
        10/12/20
      </time>
    </figcaption>
  </figure>

  <p class="stack__card note">
    Europe Trip 2020
  </p>

  <figure class="stack__card polaroid polaroid--undeveloped">
    <div class="polaroid__frame">
      <img 
        class="polaroid__image" 
        src="https://assets.codepen.io/592829/IMG_4265.jpg?width=900&format=auto" 
        alt="A woman walking her dog along the beach">
    </div>
    <figcaption class="polaroid__caption">
      <span class="polaroid__title">
        Exploring
        <br>
        the surf
      </span>
      <time datetime="2020-10-12" class="polaroid__date">
        10/12/20
      </time>
    </figcaption>
  </figure>

  <!-- <figure class="stack__card polaroid polaroid--undeveloped">
    <div class="polaroid__frame">
      <img 
        class="polaroid__image polaroid__image--crop-right" 
        src="https://assets.codepen.io/592829/IMG_4272.jpg?width=900&format=auto" 
        alt="A man taking a selfie with a woman and dog behind him on the beach.">
    </div>
    <figcaption class="polaroid__caption">
      <time datetime="2020-10-12" class="polaroid__date">
        10/12/20
      </time>
    </figcaption>
  </figure> -->

  <figure class="stack__card polaroid polaroid--undeveloped">
    <div class="polaroid__frame">
      <img 
        class="polaroid__image"
        src="https://assets.codepen.io/592829/IMG_4250.jpg?width=900&format=auto" 
        alt="A woman walking her dog on the beach in front of some dunes.">
    </div>
    <figcaption class="polaroid__caption">
      <span class="polaroid__title">
        The dunes
      </span>
      <time datetime="2020-10-12" class="polaroid__date">
        10/12/20
      </time>
    </figcaption>
  </figure>

  <p class="stack__card note">
    Covid Lockdown :(
  </p>

  <figure class="stack__card polaroid polaroid--undeveloped">
    <div class="polaroid__frame">
      <img 
        class="polaroid__image"
        src="https://assets.codepen.io/592829/IMG_4275.jpg?width=900&format=auto"
        alt="A woman and dog walking along the beach. The dog is running through shallow water and his leash is trailing behind.">
    </div>
    <figcaption class="polaroid__caption">
      <span class="polaroid__title">
        Splashin'
      </span>
      <time datetime="2020-10-12" class="polaroid__date">
        10/12/20
      </time>
    </figcaption>
  </figure>

  <figure class="stack__card polaroid polaroid--undeveloped">
    <div class="polaroid__frame">
      <img 
        class="polaroid__image"
        src="https://assets.codepen.io/592829/IMG_2738.JPG?width=900&format=auto" 
        alt="A wet dog looking at the camera.">
    </div>
    <figcaption class="polaroid__caption">
      <span class="polaroid__title">
        Clover in
        <br>
        the rain
      </span>
      <time datetime="2020-10-13" class="polaroid__date">
        10/13/20
      </time>
    </figcaption>
  </figure>

  <p class="stack__card note">
    Getting Clover
  </p>

  <figure class="stack__card polaroid polaroid--undeveloped">
    <div class="polaroid__frame">
      <img 
        class="polaroid__image polaroid__image--crop-left"
        src="https://assets.codepen.io/592829/IMG_4290.jpg?width=900&format=auto"
        alt="A woman and man taking a selfie. The woman is smiling widely while the man squints in the sun.">
    </div>
    <figcaption class="polaroid__caption">
      <span class="polaroid__title">
        A break in the rain
      </span>
      <time datetime="2020-10-13" class="polaroid__date">
        10/13/20
      </time>
    </figcaption>
  </figure>

  <figure class="stack__card polaroid polaroid--undeveloped">
    <div class="polaroid__frame">
      <img 
        class="polaroid__image"
        src="https://assets.codepen.io/592829/IMG_4288.jpg?width=900&format=auto"
        alt="A choppy bay below densely forested cliffs and a blue sky.">
    </div>
    <figcaption class="polaroid__caption">
      <span class="polaroid__title">
        Blue skies
      </span>
      <time datetime="2020-10-13" class="polaroid__date">
        10/13/20
      </time>
    </figcaption>
  </figure>

  <figure class="stack__card polaroid polaroid--undeveloped">
    <div class="polaroid__frame">
      <img  
        class="polaroid__image"
        src="https://assets.codepen.io/592829/IMG_2719.JPG?width=900&format=auto"
        alt="A man and his dog in front of a mossy log cabin in the woods. The dog's about to step into a puddle.">
    </div>
    <figcaption class="polaroid__caption">
      <span class="polaroid__title">
        Ecola State Park
        <br>
        Hikers Camp
      </span>
      <time datetime="2020-10-13" class="polaroid__date">
        10/13/20
      </time>
    </figcaption>
  </figure>

  <p class="stack__card note">
    Buying a House
  </p>

  <figure class="stack__card polaroid polaroid--undeveloped">
    <div class="polaroid__frame">
      <img 
        class="polaroid__image"
        src="https://assets.codepen.io/592829/IMG_4293.jpg?width=900&format=auto"
        alt="A man walking along a densely forested trail, facing away.">
    </div>
    <figcaption class="polaroid__caption">
      <span class="polaroid__title">
        In the forest
      </span>
      <time datetime="2020-10-12" class="polaroid__date">
        10/13/20
      </time>
    </figcaption>
  </figure>

  <figure class="stack__card polaroid polaroid--undeveloped">
    <div class="polaroid__frame">
      <img 
        class="polaroid__image"
        src="https://assets.codepen.io/592829/IMG_4340.jpg?width=900&format=auto"
        alt="A large orange mushroom in the undergrowth">
    </div>
    <figcaption class="polaroid__caption">
      <span class="polaroid__title">
        A mushroom
      </span>
      <time datetime="2020-10-12" class="polaroid__date">
        10/13/20
      </time>
    </figcaption>
  </figure>

  <figure class="stack__card polaroid polaroid--undeveloped">
    <div class="polaroid__frame">
      <img 
        class="polaroid__image"
        src="https://assets.codepen.io/592829/IMG_2681.JPG?width=900&format=auto"
        alt="A cluster of small white mushrooms growing off a log.">
    </div>
    <figcaption class="polaroid__caption">
      <span class="polaroid__title">
        More mushrooms
      </span>
      <time datetime="2020-10-12" class="polaroid__date">
        10/13/20
      </time>
    </figcaption>
  </figure>

  <p class="stack__card note">
    Getting Engaged!
  </p>

  <figure class="stack__card polaroid polaroid--undeveloped">
    <div class="polaroid__frame">
      <img 
        class="polaroid__image"
        src="https://assets.codepen.io/592829/IMG_4294.jpg?width=900&format=auto"
        alt="A picnic laid out on a wooden table: Chips, salsa, crackers, cheese, apples, beer and cider.">
    </div>
    <figcaption class="polaroid__caption">
      <span class="polaroid__title">
        The picnic
      </span>
      <time datetime="2020-10-12" class="polaroid__date">
        10/13/20
      </time>
    </figcaption>
  </figure>

  <figure class="stack__card polaroid polaroid--undeveloped">
    <div class="polaroid__frame">
      <img 
        class="polaroid__image polaroid__image--crop-right"
        src="https://assets.codepen.io/592829/IMG_4309.jpg?width=900&format=auto"
        alt="A woman and man sitting on rocks and smiling at the camera, with a dog and trees in the background.">
    </div>
    <figcaption class="polaroid__caption">
      <span class="polaroid__title">
        On the rocks
      </span>
      <time datetime="2020-10-12" class="polaroid__date">
        10/13/20
      </time>
    </figcaption>
  </figure>

  <figure class="stack__card polaroid polaroid--undeveloped">
    <div class="polaroid__frame">
      <img 
        class="polaroid__image polaroid__image--crop-right"
        src="https://assets.codepen.io/592829/IMG_2685.JPG?width=900&format=auto"
        alt="A woman standing in front of a driftwood structure holding a cider bottle.">
    </div>
    <figcaption class="polaroid__caption">
      <span class="polaroid__title">
        Driftwood
      </span>
      <time datetime="2020-10-12" class="polaroid__date">
        10/13/20
      </time>
    </figcaption>
  </figure>

  <figure class="stack__card polaroid polaroid--undeveloped">
    <div class="polaroid__frame">
      <img 
        class="polaroid__image polaroid__image--crop-right"
        src="https://assets.codepen.io/592829/IMG_2706.JPG?width=900&format=auto"
        alt="A dog sleeping on a couch">
    </div>
    <figcaption class="polaroid__caption">
      <span class="polaroid__title">
        Conked out
      </span>
      <time datetime="2020-10-12" class="polaroid__date">
        10/13/20
      </time>
    </figcaption>
  </figure>
</div>