--- 
title: RSVP 
layout: base.hbs 
---
  <link rel="stylesheet" href="/styles/agenda.css" />


<div class="agenda rhythm">
  <div class="agenda-overview">
  <h1>Weekend Agenda</h1>

  <p>Optional weekend activities and entertainment</p>
    
  </div>

  <div class="thursday rhythm">
    <h2>Thursday, July&nbsp;11<sup>th</sup></h2>

    <p>Let's get this party started!</p>

    <ul>
      <li>4:00 Check-in </li>
      <li>5:00 Welcome party</li>
      <li>6:00 Dinner</li>
      <li>7:30 Bonfie</li>
    </ul>
  </div>

  <div class="friday rhythm">
    <h2>Friday, July&nbsp;12<sup>th</sup></h2>

    <p>A day of nature and relaxation</p>

    <ul>
      <li>4:00 Check-in </li>
      <li>5:00 Welcome party</li>
      <li>6:00 Dinner</li>
      <li>7:30 Bonfie</li>
    </ul>
  </div>

  <div class="saturday rhythm">
    <h2>Saturday, July&nbsp;13<sup>th</sup></h2>

    <p>The big day!</p>

    <ul>
      <li>4:00 Check-in </li>
      <li>5:00 Welcome party</li>
      <li>6:00 Dinner</li>
      <li>7:30 Bonfie</li>
    </ul>
  </div>
</div>