--- 
title: A Weekend Wedding in the Woods 
layout: base.hbs
bodyClass: home
---

<div class='home-illustration'>
  <img 
    class="home-illustration-graphic"
    src="/images/wedding-home.png" 
    alt="A hand-drawn illustration of Lisa and Paul holding hands, facing away from the viewer next to trees, flowers, mushrooms, bushes, and rocks." 
  />
  <h1>
    Lisa & Paul
  </h1>
  <p class="subtitle">Invite you to their wedding • July 11-14</p>

  <a href="/rsvp" class="rsvp">R.S.V.P. Now</a>
</div>