--- 
title: A Weekend Wedding in the Woods 
layout: base.hbs
---

<p>Join us in celebrating Lisa and Paul's love and marriage.</p>

<p>Wedding date: July 13th, 2024</p>
<p>Party: July 11th&thinsp;&ndash;&thinsp;14th</p>
<p>
  45 minutes south of Portland at the 
  <a href="https://www.troutcreekwildernesslodge.com/wilderness">
    Trout Creek Wilderness Lodge
  </a>
</p>