--- 
title: A Weekend Wedding in the Woods 
layout: base.hbs
bodyClass: home
---

<div class='home-illustration'>
  <img 
    class="home-illustration-graphic"
    src="/images/wedding-home.png" 
    alt="A hand-drawn illustration of Lisa and Paul holding hands, facing away from the viewer next to trees, flowers, mushrooms, bushes, and rocks." 
  />
  <h1 class="lisa-and-paul-text" aria-label="Lisa and Paul invite you to their wedding!">
    {% include './_includes/partials/lisa-and-paul-text.liquid' %}
  </h1>
  <div class="invite-you-to-their-wedding">
    {% include './_includes/partials/invite-you-to-their-wedding.liquid' %}
  </div>
</div>