--- 
title: A Weekend Wedding in the Woods 
layout: base.hbs
bodyClass: home
---
<link rel="stylesheet" href="/styles/home.css" />

<div class='home-illustration'>
  <img 
    class="home-illustration-graphic"
    src="/images/wedding-home.png" 
    alt="A hand-drawn illustration of Lisa and Paul holding hands, facing away from the viewer next to trees, flowers, mushrooms, bushes, and rocks." 
  />
  <h1>
    Lisa & Paul
  </h1>
  <p class="subtitle">Invite you to their wedding • July 11-14</p>

  <p class="rsvp">
    <a href="/rsvp" class="button">
      <span class="button-back"></span>
      <span class="button-front">
        <span class="button-text">R.S.V.P. Now</span>
      </span>
    </a>
  </p>
</div>