--- 
title: Lodging 
layout: base.hbs
---

<h1>The Trout Creek Wilderness Lodge and Nearby Lodging</h1>

<p>
  The wedding is at the <a href="https://www.troutcreekwildernesslodge.com/">Trout Creek Wilderness Lodge.</a>
  This beautiful slice of wilderness is located where the Trout Creek meets the Molalla River.
  About a 45 minute drive South of Portland, the lodge is near the small town of Molalla, Oregon.
</p>

<p>We have access to the lodge and surrounding wilderness from Thursday afternoon through Sunday noon.</p>

<p>The lodge offers a wide range of activities including hiking, swimming, hot tubbing, saunaing and more.</p>

<h2>On-Site Lodging</h2>

<p>
  There are a variety of lodging options to ensure you're comfortable at our
  wedding. However, there's a limited number of some of the options and some 
  of them require additional payment:
</p>

<ul>
  <li>You're welcome to bring a tent or RV and camp for free!</li>
  <li>
    There are a number of comfortable belle tents and jupes with queen mattresses. 
    (View an <a href="https://www.troutcreekwildernesslodge.com/belltentone">example bell tent.</a>)
    We're asking for a contribution of $0-$300 to stay in a belle tent for the weekend. 
    This helps us pay the lodge for the use of the tent. 
    You can add an additional queen air mattress for $40.
  </li>
  <li>
    There are a limited number of cabins and tiny homes but these have already been spoken for.
  </li>
</ul>

<p>
  All on-site lodgings are serviced by the Communal Lodge with kitchen, 
  grilling area, indoor & outdoor dining areas, showers & bathrooms, 
  living room, musical instruments (piano, organ, guitar, drums & more).
  Access is open twenty four hours as well as access to the Cedar Bath House 
  with twelve person sauna and eight foot cedar hot tub with two massage tables, 
  tea & water station, changing room, and outdoor shower with cold water plunge 
  clawfoot tub.
</p>

<p>View the <a href="https://www.troutcreekwildernesslodge.com/allbuildings">Trout Creek Wilderness Lodge website</a> for more information about these lodgings!</p>

<h2>Off-Site Lodging</h2>

<p>
  The lodge is a short drive from the town of Molalla which has hotels and AirBnBs.
  We'd love to spend the weekend with you at the lodge but there are plenty of options if you'd prefer to stay off-site.
</p>