--- 
title: RSVP 
layout: base.hbs
---
<link rel="stylesheet" href="/styles/form.css" />
<link rel="stylesheet" href="/styles/rsvp.css" />
<script type="module" src="/scripts/rsvp.js"></script>


<h1>RSVP</h1>

<p>Please fill out the form below to let us know who is coming.</p>

<form  
  name="contact"
  action="/thank-you"
  method="POST"
  data-netlify="true"
  netlify
>
  <div class="form-section intro">
    <div class="two-column">
      <label>
        <span>Who is filling out this form?</span>
        <input type="text" name="submitter-name" required/>
      </label>

      <label>
        <span>Are you able to attend our wedding?</span>
        <select required name="coming">
          <option disabled selected></option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </label>
    </div>
  </div>

  <div class="form-section contact">
    <h2>Contact info</h2>

    <p>How should we contact you with updates?</p>

    <div class="two-column">
      <label>
        <span>Email</span>
        <input type="email" name="email"  js-required/>
      </label>

      <label>
        <span>Phone Number</span>
        <input type="tel" name="phone"  js-required/>
      </label>
    </div>
  </div>

  <div class="form-section attendees">
    <h2>Who's Coming?</h2>
    
    <p>
      Thinking of bringing a Plus-One who's not on your invitation?
      We'd love to meet your special someone, but hosting people is expensive.
      Please only bring serious partners: no friends or flings.
    </p>
    
    <label>
      <span>Please list everyone in your group's first and last names:</span>

      <textarea name="full-attendees"  js-required></textarea>

      <p>(Unfortunately the venue does not allow dogs.)</p>
    </label>
  </div>

  <div class="form-section days">
    <h2>Which Days?</h2>

    <p>
      We'll be celebrating all weekend, checking in Thursday afternoon and 
      checking out Sunday morning. We hope you can join us.
    </p>

    <p><b>What days will you be there?</b></p>

    <div class="days-options">
      <label class="checkbox-radio-label">
        <input type="checkbox" name="Days: Thursday" />
        <span>Thursday</span>
      </label>
      <label class="checkbox-radio-label">
        <input type="checkbox" name="Days: Friday" />
        <span>Friday</span>
      </label>
      <label class="checkbox-radio-label">
        <input type="checkbox" name="Days: Saturday" checked />
        <span>Saturday (the day of the ceremony)</span>
      </label>
    </div>

    <label>
      <span>What time of day will you arrive? (So we can plan for your meals)</span>
      <input type="text" name="arrival-time" required/>
    </label>
  </div>

  <div class="form-section lodging">
    <h2>Lodging</h2>

    <p>
      There are a variety of lodging options to ensure you're comfortable at our
      wedding. However, there's a limited number of some of the options and some 
      of them require additional payment.
    </p>

    <p>
      Please let us know your preference and we'll do our best to make it happen.
      (Priority is given to guests with health needs, small children, or who are staying multiple nights.)
    </p>
    
    <p><b><span>Where would your party like to sleep?</span></b></p>

    <div class="lodging-options">
      <label class="checkbox-radio-label">
        <input type="radio" name="Lodging Choice" value="Camping"  js-required/>
        <span>We'll bring our own tent and camp. (Free!)</span>
      </label>
      <label class="checkbox-radio-label">
        <input type="radio" name="Lodging Choice" value="van"  js-required/>
        <span>We'll camp in our car/van. (Free!)</span>
      </label>
      <label class="checkbox-radio-label">
        <input type="radio" name="Lodging Choice" value="RV"  js-required/>
        <span>We'll bring an RV or trailer! (There are a limited number of hook-ups. Free!)</span>
      </label>
      <label class="checkbox-radio-label">
        <input type="radio" name="Lodging Choice" value="Belle Tent"  js-required/>
        <span>
          A belle tent or jupe with a queen bed.
          (Sliding scale: $0-$300 for the weekend)
        </span>
      </label>
      <label class="checkbox-radio-label">
        <input type="radio" name="Lodging Choice" value="Belle Tent with extra bed"  js-required/>
        <span>
          A belle tent with a queen bed and an additional queen air mattress. 
          (Sliding scale: $40-$340 for the weekend)
        </span>
      </label>
      <label class="checkbox-radio-label">
        <input type="radio" name="Lodging Choice" value="Off Site"  js-required/>
        <span>I don't plan to stay on site.</span>
      </label>
      <label class="checkbox-radio-label">
        <input type="radio" name="Lodging Choice" value="Special" js-required/>
        <span>We already chatted about lodging and you told me you had a special spot for me.</span>
      </label>
    </div>


    <label>
      <span>Anything else we should know about lodging?</span>
      <textarea name="anything-else-about-lodging"></textarea>
    </label>
  </div>

  <div class="form-section diet">
    <h2>Dietary Restrictions</h2>

    <label>
      <span>
        Does anyone in your party have dietary restrictions?
      </span>

      <span>
        (Please list each person's restrictions separately)
      </span>
    
      <textarea name="dietary-restrictions"></textarea>
    </label>
  </div>
  <div class="form-section weekend-food">
    <h2>Weekend Meals</h2>

      <p>
        We'll be providing dinners Thursday, Friday and Saturday free of charge.
        We plan to also do a large grocery trip to purchase breakfast and lunch
        items that guests can access throughout the weekend. 
      </p>

      <p>
        In order to provide these additional meals we're asking folks who would 
        like these items to contribute a small amount to help cover the costs. 
        We're asking for a contribution on a sliding scale of $0-$50 per person 
        who wants these additional meals.
      </p>

    <label>
      <span>
        Would you like us to provide you food for the whole weekend?
      </span>

      <select name="wants-food" js-required>
        <option disabled selected></option>
        <option value="yes">Yes, we'd like to eat your breakfasts and lunches!</option>
        <option value="no">No, we'll bring our own breakfasts and lunches.</option>
      </select>
    </label>
  </div>

  <div class="form-section food">
    <h2>That's it!</h2>

    <p>Thanks for filling this out. We can't wait to celebrate with you!</p>
  </div>

  <button type="submit" class="button">
    <span class="button-back"></span>
    <span class="button-front">
      <span class="button-text">Submit</span>
    </span>
  </button>
</form>