--- 
title: RSVP 
layout: base.hbs
---

<form  
  name="contact"
  action="/thank-you"
  method="POST"
  data-netlify="true"
>
  <label>
    Name:
    <input type="text" name="name"/>
  </label>

  <button type="submit">RSVP</button>
</form>