<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
  </head>
  <body>
    <header class="site-header">
      <a href="/">Paul and Lisa's Wedding</a>
      <nav class="site-nav">
        <a href="/rsvp">RSVP</a>
        <a href="/faqs">FAQs</a>
        <a href="/agenda">Agenda</a>
        <a href="/lodging">Lodging</a>
        <a href="/map">Map</a>
      </nav>
    </header>
    <main>
      <h1>{{title}}</h1>

      {{{content}}}
    </main>
  </body>
</html>