main {
  --main-size: 25rem;
}

.agenda {
  display: grid;
  gap: 2.5em;
}

@media (min-width: 650px) {
  main {
    --main-size: 40rem;
  }

  .agenda {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "overview overview "
      "thursday friday"
      "saturday sunday";
    gap: 1.5em;
  }

  .agenda-overview {
    grid-area: overview;
    text-align: center;
  }

  .thursday {
    grid-area: thursday;
  }

  .friday {
    grid-area: friday;
  }

  .saturday {
    grid-area: saturday;
  }

  .sunday {
    grid-area: sunday;
  }
}

@media (min-width: 950px) {
  main {
    --main-size: 70rem;
  }

  .agenda {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". overview overview . "
      "thursday friday saturday sunday";
    gap: 1.5em;
  }
}
