* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Barlow, sans-serif;
  color: #333;
  background: hsl(40, 100%, 97.5%);
}

html {
  line-height: 1.4;
  display: grid;
}

html,
body {
  min-height: 100svh;
}

body {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  max-width: 100%;
}

main {
  width: min(30rem, 100%);
  padding: 1em;
  display: grid;
  margin: 0 auto;
  place-content: center;
  container-type: inline-size;
  text-align: center;
}
