* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Barlow, sans-serif;
  color: #333;
  background: hsl(40, 100%, 97.5%);
}

html {
  line-height: 1.4;
  display: grid;
}

html,
body {
  min-height: 100svh;
}

body {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  max-width: 100%;
}

main {
  --main-size: 40rem;

  width: min(var(--main-size), 100%);
  padding: 3em 1em;
  display: grid;
  margin: 0 auto;
  container-type: inline-size;
}

main,
.rhythm {
  --rhythm: 1.125em;
}

main > * + *,
.rhythm > * + * {
  margin-top: var(--rhythm);
}

h1,
h2 {
  font-family: Solitreo;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.75rem;
}

hr {
  margin-block: 3em;
}

.rhythm > hr + *,
main > hr + * {
  margin-top: 0;
}
