* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Barlow, sans-serif;
  color: #333;
  background: hsl(40, 100%, 97.5%);
}

html {
  line-height: 1.4;
}

html,
body {
  display: grid;
  min-height: 100svh;
}

img {
  width: 100%;
  max-width: 100%;
}
