.button {
  --translation: 0.4em;
  --percent: 0.8;
  --easing: cubic-bezier(0.34, 1.56, 0.64, 1);
  --duration: 0.3s;

  text-decoration: none;
  color: inherit;
  font-size: 1em;
  position: relative;
  appearance: none;
  background: none;
  font-family: Solitreo;
  border: none;
  line-height: 1;
  cursor: pointer;
  translate: calc(var(--translation) / -2) 0;
}

.button-back {
  background-image: url("/images/button/button-back.png");
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  aspect-ratio: 1399/488;
  display: flex;
  background-size: cover;
  transition: clip-path var(--duration) var(--easing);
  --top: 0%;
  --right: 100%;
  clip-path: polygon(
    0% var(--top),
    var(--right) var(--top),
    var(--right) 100%,
    0% 100%
  );
  scale: 1.025;
}

.button-front {
  background-image: url("/images/button/button-front.png");
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1345/448;
  display: flex;
  place-content: center;
  height: 2.5em;
  align-items: center;
  justify-content: center;
  translate: calc(var(--translation) * var(--percent))
    calc(var(--translation) * var(--percent) * -1);
  transition: translate var(--duration) var(--easing);
  position: relative;
  /*   left: -0.1em; */
}

.button:hover {
  --percent: 1;
}

.button:active {
  --percent: -0.15;
}

.button:active .button-back {
  --top: 25%;
  --right: 95%;
}

.button-text {
  position: relative;
  top: 0.15em;
}
