main {
  --main-size: 30rem;
  --rhythm: 0;
  margin-top: auto;
  place-content: center;
  text-align: center;
}

@media (min-width: 500px) {
  main {
    margin-bottom: auto;
    padding-bottom: 1em;
  }
}

h1 {
  font-family: Sacramento;
  font-size: 19cqw;
  font-weight: 400;
  line-height: 1.1;
  margin-top: 0.25em;
  text-align: center;
}

.subtitle {
  font-family: Solitreo;
  font-size: 5cqw;
  text-align: center;
}

.rsvp {
  font-family: Solitreo;
  font-size: max(1em, 5.5cqw);
  display: grid;
  place-content: center;
  margin-top: 1em;
}

.button-back {
  scale: 1.025;
}
